*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* custom proprites */

:root {
  --white-color: hsl(0, 0%, 100%);
  --light-gray-color: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --border-radius: 12px;
  --box-shadow-color: rgba(58, 60, 62, 0.32);
  --padding:16px;
  --fontsize:15px;
}

body {
  font-size: var(--fontsize);
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray-color);
}

main {
  min-height: 100svh;
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--light-gray-color);
  max-width: 320px;
  min-hieght:500px;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: var(--padding);
  padding-bottom: 1.5rem;
  border-radius: var(--border-radius);
  gap: 30px;
  box-shadow: 5px 10px 10px -10px var(--grayish-blue);
}
img {
  border-radius: var(--border-radius);
  width:286px;
  aspect-ratio:1/1;
  padding-bottom:0;
  display:inline-block;
}

.main {
  font-weight: 700;
  font-size: 1.5rem;
  align-items: center;
  color: var(--dark-blue);
}

.secondary {
  font-weight: 400;
  color: var(--dark-blue);
  text-align: center;
  opacity: 0.5;
}

.attribution {
  font-size: 11px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  line-height: 4;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 50em) {
  .attribution {
    position: relative;
    text-align: center;
  }
}
